@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&display=swap");
@import "tailwindcss";

.font-test {
	font-family: "Baloo Paaji 2", sans-serif;
	letter-spacing: 4px;
	font-weight: 700;
}
